@{
    ViewBag.Title = "Quản lý dự án";
    Layout = "~/Views/Shared/_Site.cshtml";
    @model IEnumerable<WEB_QLDUAN.Models.ToDo>
}

@section Styles{


    <link rel="stylesheet" href="~/Content/adminlte/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/skins/skin-blue.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/Content/adminlte/components/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="~/Content/adminlte/dist/css/AdminLTE.css">
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

    <style>
        .myborderError {
            border: solid 1px red !important;
        }

        ::-webkit-input-placeholder { /* Chrome */
            color: green;
            transition: opacity 250ms ease-in-out;
            font-size: 12px;
            font-weight: 100;
            font-style: italic;
        }

        :focus::-webkit-input-placeholder {
            opacity: 0.5;
            font-size: 10px;
        }

        :-ms-input-placeholder { /* IE 10+ */
            color: red;
            transition: opacity 250ms ease-in-out;
        }

        :focus:-ms-input-placeholder {
            opacity: 0.5;
            font-size: 9px;
        }

        ::-moz-placeholder { /* Firefox 19+ */
            color: #ccc;
            opacity: 0.3;
            transition: opacity 250ms ease-in-out;
            font-size: 12px;
            font-weight: 100;
            font-style: italic;
        }

        :focus::-moz-placeholder {
            opacity: 0.5;
        }

        :-moz-placeholder { /* Firefox 4 - 18 */
            color: red;
            opacity: 1;
            transition: opacity 250ms ease-in-out;
        }

        :focus:-moz-placeholder {
            opacity: 0.5;
            font-size: 10px;
        }

        .modalLoading {
            position: fixed;
            z-index: 999;
            height: 100%;
            width: 82%;
            top: 0;
            /*background-color: Black;
                    filter: alpha(opacity=30);
                    opacity: 0.2;*/
            -moz-opacity: 0.8;
        }

        .centerLoading {
            z-index: 1000;
            margin: 300px auto;
            padding: 8px;
            width: 60px;
            background-color: #d3cccc;
            border-radius: 5px;
            filter: alpha(opacity=100);
            opacity: 1;
            -moz-opacity: 1;
            text-align: center;
            color: orangered;
            opacity: 0.8;
        }

            .centerLoading img {
                text-align: center;
            }

        .nav-list li.active > a:after {
            border-right-color: #000000;
        }

        .breadcrumb > li + li:before {
            display: none;
        }

        .btn-cauhoi {
            background-color: #c2fbd7;
            border-radius: 100px;
            box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
            color: green;
            cursor: pointer;
            display: inline-block;
            font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
            padding: 7px 20px;
            text-align: center;
            text-decoration: none;
            transition: all 250ms;
            border: 0;
            font-size: 16px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
        }

            .btn-cauhoi:hover {
                box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
                transform: scale(1.05) rotate(-1deg);
            }

        .table-header {
            background-color: #438eb9 !important;
        }

        #btn-scroll-up {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: transparent !important;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 10px;
        }

            #btn-scroll-up :hover {
                background-color: #555;
            }

        #dtCauHoiThemMoi_wrapper .row:first-child {
            display: none;
        }

        #dtCauHoiThemMoi_wrapper .row:last-child {
            display: none;
        }

        #dtCauHoiCapNhat_wrapper .row:first-child {
            display: none;
        }

        #dtCauHoiCapNhat_wrapper .row:last-child {
            display: none;
        }

        .validation-summary-errors {
            font-size: 14px;
            /*margin-top: 15px;*/
            color: red;
        }

        .glyphicon.fast-right-spinner {
            -webkit-animation: glyphicon-spin-r 1s infinite linear;
            animation: glyphicon-spin-r 1s infinite linear;
        }

        .sidebar::before {
            background: #585858 !important;
        }

        .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #576373;
            border-color: #c5d0dc;
            border-top: 2px solid #4c8fbd;
            border-bottom-color: transparent;
            background-color: #FFF;
            z-index: 12;
            line-height: 16px;
            margin-top: -1px;
            box-shadow: 0 -2px 3px 0 rgba(0,0,0,0.15);
        }

        .green {
            color: #69aa46 !important;
        }

        .table-header {
            background-color: #307ecc;
            color: #FFF;
            font-size: 14px;
            line-height: 38px;
            padding-left: 12px;
            margin-bottom: 5px;
        }

        .pagination > li > a, .pagination > li > span {
            float: none;
        }

        .dataTables_length > label {
            font-size: 13px;
            font-weight: normal;
        }

        .dataTables_filter > label {
            font-size: 13px;
            font-weight: normal;
        }

        .dataTables_info {
            font-size: 13px;
        }

        .select2 {
            font-weight: bold;
        }
    </style>
}

<div class="content-wrapper" style="">
    <section class="content-header">
        <h3 class="" style="color: #dd4b39; margin-top:5px; margin-bottom:3px; display:none;">
            Task Management
            <small>#@Session["Login"]</small>
            <i id="TongHop_Loading" class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:18px; display:none;"></i>
            <span id="isMobile"></span>
        </h3>
        <ol class="breadcrumb">
            <li>
                <a href="javascript:void(0);" onclick="location.href='/Home/Index/'">
                    <i class=" fa fa-dashboard"></i> Home >
                </a>
            </li>
            <li class="active">Worklog</li>
        </ol>
    </section>

    <section class="content">
        <div class="row" id="summary">
            <div class="col-md-12">
                <div class="tabbable">
                    <ul class="nav nav-tabs padding-18" style="padding-left:18px;">
                        <li class="active" style="">
                            <a data-toggle="tab" href="" style="color:darkgreen;">
                                <i class="green glyphicon glyphicon-list-alt"></i>
                                <span style="color:green; font-size:13px; font-family:Tahoma;"> Worklog </span>
                            </a>
                        </li>
                    </ul>
                    <div class="box box-info" id="divBody" style="border-top-width:2px; margin-top:1px;" @*style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;"*@>
                        <div id="divTitle" class="box-header with-border" style="color:#0170f8">
                            <i class="fa fa-plus"></i>
                            <h4 class="box-title" style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size:16px;"><span id="txtTitle">Add new Worklog</span></h4>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body" id="divBody">
                            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmInsertWorklog", @class = "" }))
                            {
                                @Html.AntiForgeryToken();
                                <input type="hidden" id="ID" name="ID" />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label>Title: <span style="color: red; font-weight: bold; font-size:13px;"><sup>(*)</sup></span></label>
                                            <input type="text" id="Title" name="Title" style="color:red; font-weight:bold;" class="form-control" placeholder="Title" />
                                        </div>
                                        <div class="col-md-4">
                                            <label>Date: <span style="color: red; font-weight: bold; font-size:13px;"><sup>(*)</sup></span></label>
                                            <input type="date" id="Date" name="Date" class="form-control" placeholder="dd/MM/yyyy" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-md-12">
                                        <div class="col-md-8">
                                            <label>Task ID: <span style="color: red; font-weight: bold; font-size:13px;"><sup>(*)</sup></span></label>
                                            <select id="lstTask" class="form-control select2" style="width:100%;">
                                                <option value="-1" selected="selected">-- Select task --</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label>Work hours: <span style="color: red; font-weight: bold; font-size:13px;"><sup>(*)</sup></span></label>
                                            <input id="HourWork" type="number" min="0" max="24" class="form-control" placeholder="Hours" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label>Description: </label>
                                            <textarea id="Description" class="form-control" placeholder="Description"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:5px;">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <label style="color:orangered">Finish task:</label>
                                            <input id="FinishTask" type="checkbox" class="">
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="box-footer" id="divFooter">
                            <div class="row pull-right" style="">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <button id="btnSave" type="button" class="btn btn-primary">
                                            Save
                                            <i id="InsertWorklogLoading" class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:18px; display:none;"></i>
                                        </button>
                                        <button id="btnReset" type="button" class="btn btn-default">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="display:none;">
            <div class="col-md-12">
                <div class="box box-success" style="border-top-width:2px;" @*style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif;"*@>
                    <div class="box-header with-border" style="color:green;">
                        <i class="fa fa-filter"></i>
                        <h4 class="box-title" style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; font-size:16px;">Filter worklog </h4>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmFilterWorklog", @class = "" }))
                        {
                            @Html.AntiForgeryToken();
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-8">
                                        <label>Task ID:</label>
                                        <input id="TaskIDWorklogFILTER" class="form-control" placeholder="Task ID" />
                                    </div>
                                    @*<div class="col-md-4">
                                            <label>Ngày:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="datetime" id="DateWorklogFILTER" name="Date" class="form-control" placeholder="dd/MM/yyyy" />
                                            </div>
                                        </div>*@
                                    <div class="col-md-4">
                                        <label>Status:</label>
                                        <select id="StatusWorklogFilter" name="StatusFilter" class="form-control" placeholder="Status Filter">
                                            <option style="font-size:110%;" value="0">Finish</option>
                                            <option style="font-size:110%;" value="1">In progress</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="box-footer">
                        <div class="row pull-right" style="margin-right:5px;">
                            <div class="col-md-12">
                                <button id="btnFilterWorklog" type="button" class="btn btn-success">
                                    Apply
                                    <i id="FilterWorklogLoading" class="fa fa-spinner fa-spin fa-3x fa-fw" style="font-size:18px; display:none;"></i>
                                </button>
                                <button id="btnResetFilterWorklog" type="button" class="btn btn-default">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="">
            <div class="col-md-12">
                <div class="box box-warning" style="border-top-width:2px;">
                    <div class="box-header with-border">
                        <i class="fa fa-list" style="color:darkorange; font-size:16px;"></i>
                        <h3 class="box-title" style="color:darkorange; font-family:Tahoma; font-size:16px">Worklog list</h3>
                        <div class="box-tools pull-right">
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive" id="workloglist">
                            <div class="table-responsive">
                                <table id="tblWorklog" class="table table-bordered table-striped" style="">
                                    <thead>
                                        <tr>
                                            <th class="no-sort" style="max-width:100px; text-align:center">
                                                <button id="btnAdd" class="btn btn-default" style="border-color:#337ab7; color:#337ab7;" onclick="fnInsertWorklog();"><i class="fa fa-plus-circle"></i> Add Worklog</button>
                                            </th>
                                            <th style="max-width:48px;">No.</th>
                                            <th class="col-md-2">Date</th>
                                            <th class="col-md-2">Title</th>
                                            <th class="col-md-2">Task ID</th>
                                            <th class="col-md-2">Task Name</th>
                                            <th class="col-md-2">Work Hours</th>
                                            <th class="col-md-2">Finish Task</th>
                                            <th class="col-md-2">User</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model != null)
                                        {
                                            var stt = 0;
                                            foreach (var p in Model)
                                            {
                                                stt += 1;
                                        <tr>
                                            <td style="max-width:100px;">
                                                @*<button class="btn btn-sm btn-toolbar" title="View">
                <i class="fa fa-eye"></i>
            </button>*@
                                                <button name="btnEdit" onclick="fnUpdateWorklog('@p.ID');" class="btn btn-sm btn-primary" value="@p.ID" title="Update Worklog">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button onclick="fnDeleteWorklog('@p.ID');" class="btn btn-sm btn-warning" value="@p.ID" title="Delete Worklog">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </td>
                                            <td style="max-width:45px;">@stt</td>
                                            @if (p.Date != null && p.Date.HasValue)
                                            {
                                                <td class="col-md-2">@p.Date.Value.ToString("dd/MM/yyyy")</td>
                                            }
                                            else
                                            {
                                                <td class="col-md-2">-</td>
                                            }

                                            <td class="col-md-2">@p.Title</td>

                                            @if (p.TaskID != null && p.TaskID.ToString().Trim() != "")
                                            {
                                                <td class="col-md-2" style="text-transform:uppercase;">@p.TaskID</td>
                                            }
                                            else
                                            {
                                                <td class="col-md-2">-</td>
                                            }

                                            @if (p.TaskID != null && p.TaskID.ToString().Trim() != "")
                                            {
                                                <td class="col-md-2">@p.Task.TaskName</td>
                                            }
                                            else
                                            {
                                                <td class="col-md-4">-</td>
                                            }

                                            @if (p.HourWork != null && p.HourWork.HasValue)
                                            {
                                                <td class="col-md-2">@p.HourWork.Value.ToString("n0")</td>
                                            }
                                            else
                                            {
                                                <td class="col-md-2">-</td>
                                            }
                                            @if (p.FinishTask != null && p.FinishTask.HasValue)
                                            {
                                                if (p.FinishTask.Value == true)
                                                {
                                                    <td class="col-md-2"><input type="checkbox" checked /></td>
                                                }
                                                else
                                                {
                                                    <td class="col-md-2"><input type="checkbox" /></td>
                                                }
                                            }
                                            else
                                            {
                                                <td class="col-md-2">-</td>
                                            }
                                            <td class="col-md-2">@p.UserID</td>
                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@Scripts.Render("~/bundles/jqueryval");
@section Scripts{
    <script src="~/Content/adminlte/components/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/adminlte/components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/adminlte/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/adminlte/dist/js/adminlte.min.js"></script>
    <script src="~/Content/adminlte/components/chart.js/Chart.js"></script>

    <script src="~/Content/adminlte/components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/adminlte/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Content/adminlte/components/select2/dist/js/select2.full.min.js"></script>
    <script src="~/tra-cuu/Scripts/Customer.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.bootstrap.js"></script>

    <script>
        var flag_themsua = 0;
        $(document).ready(function () {

            flag_themsua = 0; // Default: Insert
            $('.select2').select2();
            $('#tblWorklog').DataTable();

            $.ajax({
                url: "/Home/LoadAllTask",
                type: "POST",
                dataType: "json",
                success: function (response) {
                    if (response != '') {
                        for (i in response) {
                            $("#lstTask").append("<option value='" + response[i].ID + "'>" + response[i].TaskName + "</option>");
                        }
                        $("#lstTask").val('-1').trigger('change');
                    };
                },
            });

            $('#btnSave').off('click').on('click', function () {
                this.disabled = true;

                $('#Title').removeClass('myborderError');
                $('#Date').removeClass('myborderError');
                $('#lstTask').removeClass('myborderError');
                $('#HourWork').removeClass('myborderError');
                $('#Description').removeClass('myborderError');
                $('.select2-selection--single').removeClass('myborderError');

                var form1 = $('#frmInsertWorklog');
                var token1 = $('input[name="__RequestVerificationToken"]', form1).val();

                var ID = $('#ID').val();
                var Title = $('#Title').val();
                var Date = $('#Date').val();
                var TaskID = $('#lstTask').val();
                var HourWork = $('#HourWork').val();
                var Description = $('#Description').val();
                var FinishTask = document.getElementById("FinishTask").checked;

                if (flag_themsua == 1 && (ID == null || ID.trim() == "")) // Update
                {
                    alert("Không xác định được đối tượng cần sửa dữ liệu! Vui lòng refesh lại trang web.");
                    document.getElementById('btnSave').disabled = false;
                }
                else if (
                    (Title.trim() == "") || (Date == null || Date.trim() == "") || (TaskID == null || TaskID.trim() == "-1")
                    || (HourWork == null || HourWork.trim() == "")
                ) {
                    alert("Vui lòng điền đầy đủ thông tin với các trường dữ liệu được dánh dấu (*)");
                    document.getElementById('btnSave').disabled = false;

                    if (Title.trim() == "") {
                        $('#Title').addClass('myborderError');
                    }
                    if (Date.trim() == "") {
                        $('#Date').addClass('myborderError');
                    }
                    if (TaskID == null || TaskID.trim() == "-1") {
                        $('.select2-selection--single').addClass('myborderError');
                    }
                    if (HourWork == null || HourWork.trim() == "") {
                        $('#HourWork').addClass('myborderError');
                    }
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: "/Home/WorklogUpdate/",
                        data: {
                            __RequestVerificationToken: token1,
                            FLAG: flag_themsua,
                            ID: ID,
                            Title: Title,
                            Date: Date,
                            TaskID: TaskID,
                            HourWork: HourWork,
                            Description: Description,
                            FinishTask: FinishTask
                        },
                        //contentType: "application/json; charset=utf-8",
                        //dataType: "json",
                        success: function (response) {
                            if (response.STATUS == "true") {
                                alert(response.MESSAGE);
                                window.location.href = "/Home/Worklog/";
                            }
                            else if (response.STATUS == "false") {
                                alert(response.MESSAGE);
                            }
                            else {
                                alert("Có lỗi trong quá trình thêm dữ liệu. Vui lòng kiểm tra lại!");
                            }

                            //document.getElementById('btnSave').disabled = false;
                        },
                        error: function (xhr, status, error) {
                            var err = xhr.responseText;
                            alert(err);
                        }
                        //error: function (response) {
                        //    alert("Có lỗi trong quá trình thêm dữ liệu. Vui lòng kiểm tra lại!");
                        //    document.getElementById('btnInsertProject').disabled = false;
                        //}
                    });
                };
            });

            $('#btnReset').off('click').on('click', function () {
                window.location.href = "/Home/Worklog/";
            });

            $('#tblWorklog tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                } else {
                    $('#tblWorklog tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });

        function fnInsertWorklog() {
            flag_themsua = 0; // Insert
            window.location.href = "#summary";
            $('#txtTitle').html("Add new Worklog");

            document.getElementById('divTitle').style.color = "#0170f8";
            document.getElementById('divBody').style.backgroundColor = "white";
            document.getElementById('divFooter').style.backgroundColor = "white";
            document.getElementById('btnSave').style.backgroundColor = "#3c8dbc";
            document.getElementById('btnSave').style.borderColor = "#367fa9";

            $('#Title').removeClass('myborderError');
            $('#Date').removeClass('myborderError');
            $('#lstTask').removeClass('myborderError');
            $('#HourWork').removeClass('myborderError');
            $('#Description').removeClass('myborderError');
            $('.select2-selection--single').removeClass('myborderError');

            $('#ID').val('');
            $('#Title').val('');
            $('#Date').val('');
            $('#HourWork').val('');
            $('#Description').val('');
            $('#FinishTask').prop("checked", false);

            $('#lstTask').val('-1').trigger('change');

            document.getElementById("Title").focus();
        };

        function fnUpdateWorklog(_id) {
            flag_themsua = 1; // Update
            window.location.href = "#summary";
            $('#txtTitle').html("Update Worklog");

            document.getElementById('divTitle').style.color = "Red";
            document.getElementById('divBody').style.backgroundColor = "#f7ece8";
            document.getElementById('divFooter').style.backgroundColor = "#f7ece8";
            document.getElementById('btnSave').style.backgroundColor = "orange";
            document.getElementById('btnSave').style.borderColor = "#f59907";

            $.ajax({
                url: "/Home/LoadWorklog/",
                data: {
                    ID: _id
                },
                type: "POST",
                dataType: "json",

                success: function (response) {
                    if (response != '') {
                        $('#ID').val(response.ID);
                        $('#Title').val(response.Title);

                        $('#HourWork').val(response.HourWork);
                        $('#Description').val(response.Description);

                        if (response.TaskID != null && response.TaskID.trim() != "") {
                            $('#lstTask').val(response.TaskID).trigger('change');
                        }
                        else {
                            $('#lstTask').val("-1").trigger('change');
                        };

                        if (response.Date != null) {
                            const d = new Date(response.Date.match(/\d+/)[0] * 1);
                            const formattedDate = d.getFullYear() + '-' + ("0" + (d.getMonth() + 1)).slice(-2) + '-' + ("0" + d.getDate()).slice(-2);
                            $('#Date').val(formattedDate);
                        }
                        else {
                            $('#Date').val('');
                        }

                        if (response.FinishTask != null) {
                            $('#FinishTask').prop("checked", response.FinishTask)
                        }
                        else {
                            $('#FinishTask').prop("checked", false)
                        }
                    };
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    // alert(xhr.status);
                    alert("Có lỗi trong quá trình load thông tin Worklog. Vui lòng kiểm tra lại!");
                }
            });
        };

        function fnDeleteWorklog(_id) {
            const response = confirm("Bạn có chắc là muốn xóa worklog này không?");

            if (response) {
                $.ajax({
                    url: "/Home/DeleteWorklog/",
                    data: {
                        ID: _id
                    },
                    type: "POST",
                    dataType: "json",

                    success: function (response) {
                        if (response != '') {
                            alert(response);
                            window.location.href = "/Home/Worklog/";
                        };
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // alert(xhr.status);
                        alert("Đã có lỗi. Vui lòng kiểm tra lại!");
                    }
                });
            } else {
                return false;
            }
        };
    </script>
}